@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@700&display=swap");

$title-family: "Roboto Mono", monospace;
$subtitle-family: "Roboto", sans-serif;
$family-sans-serif: "Roboto", sans-serif;
$button-family: monospace;

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/content";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/components/message";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/form/shared";
@import "~bulma/sass/form/tools";
@import "~bulma/sass/form/checkbox-radio";
@import "~bulma/sass/form/input-textarea";
